body {
    background-color: lightgray;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    line-height: 1.5em;
    font-size: 150%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

h1{
    font-size: 200%;
    padding-top: 1em;
}

p {
    line-height: 1em;
}

img, iframe {
    border-radius: 3em;
    border: 0.75em solid white;
    width: 45%;
    box-shadow: 2px 2px 3px #000;
}

a {
    text-shadow: none;
}

.wide {
    width: 96%;
    height: default;
}

.twin {
    height: 65vh;
}
